version: '3'
services:
  prepare:
    image: "starcaspar/rod:prepare"
    command: ["bash", "-c", "python -u install.py"]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./DataSets:/data/DataSets
      - ./Output:/data/Output
      - ./configs:/data/configs
      - ./PretrainedModels:/data/PretrainedModels
      - ./web:/data/web
      - ./prepare:/data/prepare
 
  predict-lb:
    image: "eeacms/haproxy:latest"
    links:
      {% for i in range(N_GPU) %}
      - predict-core-{{i}}
      {% endfor %}
    environment:
      - DNS_ENABLED=true
      - BACKENDS={% for i in range(N_GPU) %}predict-core-{{i}} {% endfor %}
      - BACKENDS_PORT=8082
      - FRONTEND_PORT=8082

  {% for i in range(N_GPU) %} 
  predict-core-{{i}}:
    image: "starcaspar/rod:latest"
    command: ["bash", "-c", "source /root/anaconda3/bin/activate /root/anaconda3/envs/cntk-py35 && python -u score.py"]
    devices:
      - /dev/nvidia{{i}}
    volumes:
      - ./DataSets:/cntk/Examples/Image/DataSets
      - ./Output:/cntk/Examples/Image/Detection/FasterRCNN/Output
      - ./configs:/cntk/Examples/Image/Detection/utils/configs
      - ./configs/FasterRCNN_config.py:/cntk/Examples/Image/Detection/FasterRCNN_config.py
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - PYTHONUNBUFFERED=TRUE
    expose:
      - 8082
  {% endfor %} 

  predict:
    image: "starcaspar/rod:latest"
    command: ["bash", "-c", "source /root/anaconda3/bin/activate /root/anaconda3/envs/cntk-py35 && pip install docker && python -u score.py"]
    devices:
      - /dev/nvidia0
    volumes:
      - ./DataSets:/cntk/Examples/Image/DataSets
      - ./Output:/cntk/Examples/Image/Detection/FasterRCNN/Output
      - ./configs:/cntk/Examples/Image/Detection/utils/configs
      - ./configs/FasterRCNN_config.py:/cntk/Examples/Image/Detection/FasterRCNN_config.py
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - PYTHONUNBUFFERED=TRUE

  train:
    image: "starcaspar/rod:latest"
    command: ["bash", "-c", "source /root/anaconda3/bin/activate /root/anaconda3/envs/cntk-py35 && python -u train.py"]
    devices:
      - /dev/nvidia0
    volumes:
      - ./DataSets:/cntk/Examples/Image/DataSets
      - ./Output:/cntk/Examples/Image/Detection/FasterRCNN/Output
      - ./configs:/cntk/Examples/Image/Detection/utils/configs
      - ./configs/FasterRCNN_config.py:/cntk/Examples/Image/Detection/FasterRCNN_config.py
      - ./PretrainedModels:/cntk/PretrainedModels

  web-lb:
    image: "node:8"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=production
    volumes:
      - ./web:/home/node/app
    ports:
      - "443:3000"
    command: ["bash", "-c", "npm install && npm start"]
    links:
      - predict-lb:predict

  web:
    image: "node:8"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=production
    volumes:
      - ./web:/home/node/app
    ports:
      - "443:3000"
    command: ["bash", "-c", "npm install && npm start"]
    links:
      - predict

  
