html, body {
  margin: 0;
  color: #FFF;
  background: #000;
}
#video {
  position: absolute;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:800px;
  height:500px;
  background: black;
  
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:800px;
  height:500px;
}

#canvas {
  position: absolute;
}

#screenshot {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.camera {
  width: 480px;
  position: relative;
  display:inline-block;
}

.output {
  width: 340px;
  display: none;
  /* display:inline-block; */
}

.contentarea {
  font-size: 12px;
  font-family: "Microsoft JhengHei UI Light", "Microsoft JhengHei", sans-serif;
  width: 800px;
  margin: auto;
}

.subtitle {
  margin: 0px;
  font-family: "Microsoft JhengHei UI", "Microsoft JhengHei" sans-serif;
  font-size: 10px;
  text-align: center;
}
